@model IEnumerable<fp_stack.core.Models.Noticia>
<ul class="noticias">
    @foreach (var item in Model)
    {
        <li>
            <a href="@item.Url">
                <img class="lazy" data-src="@item.Imagem" alt="@item.DescricaoImagem" />
                <span>
                    @item.Titulo
                </span>
            </a>
        </li>
    }
</ul>